In [24]:
import os
from importlib import reload  
import gc

import pandas as pd
import matplotlib.pyplot as plt


import kagfonct as kf

In [2]:
PATH = "./data/"
for fic in os.listdir(PATH):
    print(fic)
# print(os.listdir(path))

application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
HomeCredit_columns_description - Copy.csv
HomeCredit_columns_description - test.csv
HomeCredit_columns_description - utf8.csv
HomeCredit_columns_description.csv
HomeCredit_columns_description.ods
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv
Projet+Mise+en+prod+-+home-credit-default-risk.zip
sample_submission.csv

In [3]:
df_application_test = pd.read_csv(PATH+"application_test.csv")
df_application_train = pd.read_csv(PATH+"application_train.csv")
df_bureau = pd.read_csv(PATH+"bureau.csv")
df_bureau_balance = pd.read_csv(PATH+"bureau_balance.csv")
df_credit_card_balance = pd.read_csv(PATH+"credit_card_balance.csv")
df_payments = pd.read_csv(PATH+"installments_payments.csv")
df_pos_cash_balance = pd.read_csv(PATH+"POS_CASH_balance.csv")
df_prev_app = pd.read_csv(PATH+"previous_application.csv")
# df_homecredit = pd.read_csv(PATH+"HomeCredit_columns_description - utf8.csv")
df_homecredit = pd.read_csv(PATH+"HomeCredit_columns_description.csv", encoding = "cp1252")

NB : le fichier "HomeCredit_columns_description.csv" comporte à plusieurs reprises, un caractère qui n'est pas dans la norme utf-8 (…)

In [4]:
df_homecredit.loc[12,"Description"]

'Clients income type (businessman, working, maternity leave,…)'

# Fonctions

# Exploration

In [5]:
df_application_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [6]:
df_application_train.sample(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
100966,217230,0,Cash loans,F,Y,Y,2,315000.0,679500.0,19867.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
122986,242602,0,Cash loans,M,N,Y,0,63000.0,225000.0,11619.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
72412,183973,0,Cash loans,M,Y,N,1,157500.0,773680.5,39631.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
277456,421495,0,Cash loans,M,Y,Y,0,157500.0,900000.0,35347.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
215806,350059,0,Cash loans,F,N,N,1,112500.0,398016.0,25911.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
281019,425591,0,Cash loans,F,Y,N,0,112500.0,1051294.5,30870.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
153415,277829,0,Cash loans,F,Y,Y,0,135000.0,918468.0,30483.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
227137,363089,0,Cash loans,M,Y,N,0,315000.0,255960.0,20353.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
232806,369640,0,Cash loans,F,Y,N,0,360000.0,1800000.0,49500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14483,116899,0,Cash loans,F,Y,Y,2,337500.0,1006920.0,42660.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [7]:
df_homecredit[df_homecredit["Table"]=="application_{train|test}.csv"]

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
117,120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [8]:
list(df_homecredit.loc[(df_homecredit["Table"]=="application_{train|test}.csv") & (df_homecredit["Row"]=="TARGET"), 
                       "Description"])

['Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)']

In [9]:
list(df_application_train.columns)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [10]:
df_application_test.sample(10)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
11115,180679,Cash loans,F,Y,Y,2,112500.0,900000.0,46084.5,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
30692,323030,Cash loans,F,N,Y,0,130500.0,156384.0,12100.5,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
14483,204374,Cash loans,F,N,Y,0,270000.0,285264.0,29358.0,252000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
29090,311977,Cash loans,F,N,N,1,157500.0,332946.0,17127.0,238500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
16077,215972,Cash loans,F,N,Y,1,99000.0,180000.0,16506.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
10627,177203,Cash loans,M,Y,Y,0,360000.0,305640.0,34695.0,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
46645,440910,Cash loans,F,N,Y,0,112500.0,291766.5,14917.5,221571.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
19838,244108,Cash loans,F,N,Y,0,90000.0,270000.0,13117.5,270000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6099,144659,Cash loans,F,N,Y,0,135000.0,980937.0,41692.5,805500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,9.0
11678,184919,Cash loans,F,N,Y,0,157500.0,517500.0,21924.0,517500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

In [11]:
df_bureau.sample(10)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
818273,130949,6792289,Active,currency 1,-549,0,1278.0,NaN,0.00,0,405000.00,NaN,NaN,0.0,Consumer credit,-29,NaN
266461,184284,5529985,Active,currency 1,-1678,0,1975.0,NaN,NaN,0,378000.00,0.0,NaN,0.0,Credit card,-6,NaN
181501,265223,5707009,Closed,currency 1,-1153,0,NaN,-466.0,NaN,0,225000.00,NaN,NaN,0.0,Credit card,-466,NaN
555696,119793,6395955,Closed,currency 1,-661,0,-357.0,-357.0,0.00,0,68310.00,0.0,0.0,0.0,Consumer credit,-356,NaN
268048,312549,5051929,Closed,currency 1,-1374,0,-339.0,-339.0,5995.26,0,240641.73,0.0,0.0,0.0,Consumer credit,-339,NaN
231141,273479,5846082,Active,currency 1,-388,0,1438.0,NaN,NaN,0,1678500.00,1505322.0,0.0,0.0,Consumer credit,-48,NaN
1010699,375042,5127140,Closed,currency 1,-1223,0,-1130.0,-1128.0,0.00,0,18630.00,0.0,0.0,0.0,Consumer credit,-1128,NaN
1282418,234607,5654288,Active,currency 1,-952,0,NaN,NaN,NaN,0,225000.00,0.0,NaN,0.0,Credit card,-14,NaN
674649,407901,6157640,Closed,currency 1,-1461,0,-729.0,-728.0,NaN,0,179775.00,0.0,0.0,0.0,Consumer credit,-725,NaN
1556499,300735,5626091,Active,currency 1,-1,0,NaN,NaN,NaN,0,22500.00,22500.0,NaN,0.0,Microloan,0,NaN

In [12]:
df_bureau[df_bureau["SK_ID_CURR"]==368092]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
514934,368092,6457783,Closed,currency 1,-487,0,-122.0,-121.0,NaN,0,114750.0,0.0,0.0,0.0,Consumer credit,-116,0.0
514935,368092,6457784,Closed,currency 1,-1676,0,-580.0,-1505.0,NaN,0,270000.0,0.0,0.0,0.0,Consumer credit,-1423,5044.5
514936,368092,6457785,Closed,currency 1,-1676,0,-580.0,-610.0,NaN,0,270000.0,0.0,0.0,0.0,Consumer credit,-339,0.0
514937,368092,6457786,Closed,currency 1,-1819,0,-1547.0,-1197.0,NaN,0,83385.0,NaN,NaN,0.0,Consumer credit,-1194,0.0

In [13]:
df_bureau_balance[df_bureau_balance["SK_ID_BUREAU"]== 6457783]

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
10396161       6457783               0      C
10396162       6457783              -1      C
10396163       6457783              -2      C
10396164       6457783              -3      C
10396165       6457783              -4      C
10396166       6457783              -5      0
10396167       6457783              -6      0
10396168       6457783              -7      0
10396169       6457783              -8      X
10396170       6457783              -9      0
10396171       6457783             -10      X
10396172       6457783             -11      0
10396173       6457783             -12      0
10396174       6457783             -13      0
10396175       6457783             -14      X
10396176       6457783             -15      0
10396177       6457783             -16      X

In [14]:
df_bureau_balance["STATUS"].unique()

array(['C', '0', 'X', '1', '2', '3', '5', '4'], dtype=object)

In [15]:
df_homecredit[df_homecredit["Table"]=="bureau_balance.csv"]

,Unnamed: 0,Table,Row,Description,Special
139,142,bureau_balance.csv,SK_BUREAU_ID,Recoded ID of Credit Bureau credit (unique cod...,hashed
140,143,bureau_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
141,144,bureau_balance.csv,STATUS,Status of Credit Bureau loan during the month ...,NaN

In [16]:
df_pos_cash_balance[df_pos_cash_balance["SK_ID_CURR"]==368092].sort_values(by="MONTHS_BALANCE")

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
9535021,2198792,368092,-82,12.0,12.0,Active,0,0
948279,2198792,368092,-81,12.0,11.0,Active,0,0
9001077,2198792,368092,-80,12.0,10.0,Active,0,0
6410934,2198792,368092,-79,12.0,9.0,Active,0,0
4157178,2198792,368092,-78,12.0,8.0,Active,0,0
4097603,2198792,368092,-77,12.0,7.0,Active,0,0
1377294,2198792,368092,-76,12.0,6.0,Active,0,0
2462432,2198792,368092,-75,12.0,5.0,Active,0,0
3171983,2198792,368092,-74,12.0,4.0,Active,0,0
3216998,2198792,368092,-73,12.0,3.0,Active,0,0
282782,2198792,368092,-72,12.0,2.0,Active,0,0
1882637,2198792,368092,-71,12.0,1.0,Active,0,0

In [17]:
df_homecredit[df_homecredit["Table"]=="POS_CASH_balance.csv"]

,Unnamed: 0,Table,Row,Description,Special
142,145,POS_CASH_balance.csv,SK_ID_PREV,ID of previous credit in Home Credit related t...,NaN
143,146,POS_CASH_balance.csv,SK_ID_CURR,ID of loan in our sample,NaN
144,147,POS_CASH_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
145,148,POS_CASH_balance.csv,CNT_INSTALMENT,Term of previous credit (can change over time),NaN
146,149,POS_CASH_balance.csv,CNT_INSTALMENT_FUTURE,Installments left to pay on the previous credit,NaN
147,150,POS_CASH_balance.csv,NAME_CONTRACT_STATUS,Contract status during the month,NaN
148,151,POS_CASH_balance.csv,SK_DPD,DPD (days past due) during the month of previo...,NaN
149,152,POS_CASH_balance.csv,SK_DPD_DEF,DPD during the month with tolerance (debts wit...,NaN

In [18]:
df_credit_card_balance.sample(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2052607,1302321,310831,-35,0.000,135000,0.0,0.000,0.0,0.000,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
615948,2776977,107111,-2,0.000,225000,NaN,0.000,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3353325,2035312,130002,-15,48272.715,90000,0.0,0.000,0.0,0.000,2433.015,...,47481.165,47481.165,0.0,0,0.0,0.0,1.0,Active,0,0
1295057,1419439,185207,-10,0.000,360000,NaN,0.000,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3660646,1262215,263564,-10,13698.270,180000,0.0,4658.895,0.0,4658.895,2250.000,...,12934.845,12934.845,0.0,8,0.0,8.0,3.0,Active,0,0
2923085,2190442,386903,-24,0.000,0,0.0,0.000,0.0,0.000,0.000,...,0.000,0.000,0.0,0,0.0,0.0,16.0,Active,0,0
365657,1285289,300901,-22,268678.350,270000,0.0,0.000,0.0,0.000,13500.000,...,268678.350,268678.350,0.0,0,0.0,0.0,75.0,Active,0,0
1815070,2248464,267974,-21,69390.000,135000,0.0,0.000,0.0,0.000,6750.000,...,69390.000,69390.000,0.0,0,0.0,0.0,40.0,Active,0,0
1666586,2252790,155653,-78,39687.075,67500,0.0,0.000,0.0,0.000,3375.000,...,39687.075,39687.075,0.0,0,0.0,0.0,20.0,Active,0,0
1643417,1205068,263260,-12,0.000,45000,0.0,0.000,0.0,0.000,0.000,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0

In [19]:
df_prev_app.sample(10)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
33622,2525916,343548,Consumer loans,3498.390,34146.0,38200.5,0.0,34146.0,TUESDAY,10,...,Jewelry,12.0,low_action,POS industry without interest,365243.0,365243.0,345.0,365243.0,365243.0,0.0
965757,2554879,160865,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,9,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
884772,1312450,206675,Cash loans,17236.305,202500.0,222547.5,NaN,202500.0,WEDNESDAY,18,...,XNA,18.0,middle,Cash X-Sell: middle,365243.0,-732.0,-222.0,-222.0,-219.0,1.0
621213,1792327,375145,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,17,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
292445,1904231,270055,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,18,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
427490,1162681,303772,Consumer loans,17535.555,87750.0,94122.0,0.0,87750.0,SUNDAY,14,...,Furniture,6.0,middle,POS industry with interest,365243.0,-196.0,-46.0,-46.0,-37.0,1.0
1329689,2750482,434943,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1546592,2428188,172022,Cash loans,17292.465,135000.0,162967.5,NaN,135000.0,SATURDAY,4,...,XNA,12.0,middle,Cash Street: middle,365243.0,-205.0,125.0,365243.0,365243.0,1.0
1368108,1303733,366839,Cash loans,12393.225,292500.0,292500.0,NaN,292500.0,SUNDAY,15,...,XNA,36.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
1300128,2509667,420904,Consumer loans,9013.185,88357.5,87916.5,8838.0,88357.5,TUESDAY,11,...,Construction,12.0,middle,POS industry with interest,365243.0,-455.0,-125.0,-365.0,-354.0,0.0

In [20]:
df_prev_app[df_prev_app["SK_ID_CURR"]==368092]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
132593,2198792,368092,Consumer loans,5921.37,122764.14,60732.0,67504.14,122764.14,MONDAY,13,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2475.0,-2145.0,-2145.0,-2136.0,1.0

In [21]:
df_payments.sample(10)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
272001,2178340,102302,1.0,2,-995.0,-1000.0,4559.760,4559.760
2613389,1423855,143528,0.0,119,-283.0,-283.0,248.670,248.670
11409975,2778904,306969,1.0,1,-2736.0,-2741.0,3973.095,3973.095
5877495,1411516,230401,2.0,11,-2438.0,-2453.0,5914.485,5914.485
12549216,2807547,425304,1.0,12,-659.0,-672.0,20876.805,20876.805
6373712,1945129,280890,1.0,10,-2602.0,-2602.0,4023.000,4023.000
1511421,2773868,173788,1.0,15,-936.0,-972.0,19141.290,19141.290
4879525,2632224,282288,1.0,12,-441.0,-445.0,14625.000,14625.000
1635222,1825254,159016,0.0,46,-33.0,-37.0,22056.345,22056.345
11056533,1735804,324485,0.0,55,-1422.0,-1427.0,3375.000,3375.000

In [22]:
df_payments[df_payments["SK_ID_CURR"]==368092].sort_values(by="NUM_INSTALMENT_NUMBER")

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
8624343,2198792,368092,1.0,1,-2475.0,-2485.0,5921.37,5921.37
8085854,2198792,368092,1.0,2,-2445.0,-2447.0,5921.37,5921.37
9254042,2198792,368092,1.0,3,-2415.0,-2419.0,5921.37,5921.37
7829329,2198792,368092,1.0,4,-2385.0,-2387.0,5921.37,5921.37
9254285,2198792,368092,1.0,5,-2355.0,-2358.0,5921.37,5921.37
10778313,2198792,368092,1.0,6,-2325.0,-2344.0,5921.37,5921.37
9235293,2198792,368092,1.0,7,-2295.0,-2296.0,5921.37,5921.37
8320158,2198792,368092,1.0,8,-2265.0,-2274.0,5921.37,5921.37
11155326,2198792,368092,1.0,9,-2235.0,-2246.0,5921.37,5921.37
11034595,2198792,368092,1.0,10,-2205.0,-2204.0,5921.37,5921.37
8804372,2198792,368092,1.0,11,-2175.0,-2177.0,5921.37,5921.37
9701034,2198792,368092,1.0,12,-2145.0,-2146.0,5857.20,5857.20

# Feature Engineering

In [28]:
reload(kf)

In [29]:
kf.build_model_input(PATH)

Buro bal shape :  (27299925, 3)
transform to dummies
Counting buros
averaging buro bal
Read Bureau
Go to dummies
Merge with buro avg
Counting buro per SK_ID_CURR
Averaging bureau
            SK_ID_BUREAU  DAYS_CREDIT  CREDIT_DAY_OVERDUE  \
SK_ID_CURR
100001               7.0  -735.000000                 0.0
100002               8.0  -874.000000                 0.0
100003               4.0 -1400.750000                 0.0
100004               2.0  -867.000000                 0.0
100005               3.0  -190.666667                 0.0

            DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  \
SK_ID_CURR
100001                82.428571        -825.500000                     NaN
100002              -349.000000        -697.500000                1681.029
100003              -544.500000       -1097.333333                   0.000
100004              -488.500000        -532.500000                   0.000
100005               439.333333        -123.000000                   0.000

            CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  \
SK_ID_CURR
100001                     0.0   207623.571429         85240.928571
100002                     0.0   108131.945625         49156.200000
100003                     0.0   254350.125000             0.000000
100004                     0.0    94518.900000             0.000000
100005                     0.0   219042.000000        189469.500000

            AMT_CREDIT_SUM_LIMIT  ...  avg_buro_MONTHS_BALANCE  \
SK_ID_CURR                        ...
100001                   0.00000  ...               -11.785714
100002                7997.14125  ...               -21.875000
100003              202500.00000  ...                      NaN
100004                   0.00000  ...                      NaN
100005                   0.00000  ...                -3.000000

            avg_buro_buro_bal_status_0  avg_buro_buro_bal_status_1  \
SK_ID_CURR
100001                        0.336651                    0.007519
100002                        0.406960                    0.255682
100003                             NaN                         NaN
100004                             NaN                         NaN
100005                        0.735043                    0.000000

            avg_buro_buro_bal_status_2  avg_buro_buro_bal_status_3  \
SK_ID_CURR
100001                             0.0                         0.0
100002                             0.0                         0.0
100003                             NaN                         NaN
100004                             NaN                         NaN
100005                             0.0                         0.0

            avg_buro_buro_bal_status_4  avg_buro_buro_bal_status_5  \
SK_ID_CURR
100001                             0.0                         0.0
100002                             0.0                         0.0
100003                             NaN                         NaN
100004                             NaN                         NaN
100005                             0.0                         0.0

            avg_buro_buro_bal_status_C  avg_buro_buro_bal_status_X  \
SK_ID_CURR
100001                        0.441240                    0.214590
100002                        0.175426                    0.161932
100003                             NaN                         NaN
100004                             NaN                         NaN
100005                        0.128205                    0.136752

            avg_buro_buro_count
SK_ID_CURR
100001                24.571429
100002                13.750000
100003                      NaN
100004                      NaN
100005                 7.000000

[5 rows x 46 columns]
Read prev
Go to dummies
Counting number of Prevs
Averaging prev
            SK_ID_PREV  AMT_ANNUITY  AMT_APPLICATION  AMT_CREDIT  \
SK_ID_CURR
100001             1.0     3951.000         24835.50    23787.00
100002             1.0     9251.775        179055.00   179055.00
100003             3.0    56553.990        435436.50   484191.00
100004             1.0     5357.250         24282.00    20106.00
100005             2.0     4813.200         22308.75    20076.75

            AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  HOUR_APPR_PROCESS_START  \
SK_ID_CURR
100001                2520.0          24835.5                13.000000
100002                   0.0         179055.0                 9.000000
100003                3442.5         435436.5                14.666667
100004                4860.0          24282.0                 5.000000
100005                4464.0          44617.5                10.500000

            NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  RATE_INTEREST_PRIMARY  \
SK_ID_CURR
100001                         1.0           0.104326                    NaN
100002                         1.0           0.000000                    NaN
100003                         1.0           0.050030                    NaN
100004                         1.0           0.212008                    NaN
100005                         1.0           0.108964                    NaN

            ...  PRODUCT_COMBINATION_Cash X-Sell: low  \
SK_ID_CURR  ...
100001      ...                              0.000000
100002      ...                              0.000000
100003      ...                              0.333333
100004      ...                              0.000000
100005      ...                              0.000000

            PRODUCT_COMBINATION_Cash X-Sell: middle  \
SK_ID_CURR
100001                                          0.0
100002                                          0.0
100003                                          0.0
100004                                          0.0
100005                                          0.0

            PRODUCT_COMBINATION_POS household with interest  \
SK_ID_CURR
100001                                             0.000000
100002                                             0.000000
100003                                             0.333333
100004                                             0.000000
100005                                             0.000000

            PRODUCT_COMBINATION_POS household without interest  \
SK_ID_CURR
100001                                                    0.0
100002                                                    0.0
100003                                                    0.0
100004                                                    0.0
100005                                                    0.0

            PRODUCT_COMBINATION_POS industry with interest  \
SK_ID_CURR
100001                                            0.000000
100002                                            0.000000
100003                                            0.333333
100004                                            0.000000
100005                                            0.000000

            PRODUCT_COMBINATION_POS industry without interest  \
SK_ID_CURR
100001                                                    0.0
100002                                                    0.0
100003                                                    0.0
100004                                                    0.0
100005                                                    0.0

            PRODUCT_COMBINATION_POS mobile with interest  \
SK_ID_CURR
100001                                               1.0
100002                                               0.0
100003                                               0.0
100004                                               0.0
100005                                               0.5

            PRODUCT_COMBINATION_POS mobile without interest  \
SK_ID_CURR
100001                                                  0.0
100002                                                  0.0
100003                                                  0.0
100004                                                  1.0
100005                                                  0.0

            PRODUCT_COMBINATION_POS other with interest  \
SK_ID_CURR
100001                                              0.0
100002                                              1.0
100003                                              0.0
100004                                              0.0
100005                                              0.0

            PRODUCT_COMBINATION_POS others without interest
SK_ID_CURR
100001                                                  0.0
100002                                                  0.0
100003                                                  0.0
100004                                                  0.0
100005                                                  0.0

[5 rows x 163 columns]
Reading POS_CASH

Go to dummies
Compute nb of prevs per curr
Go to averages
Reading CC balance
Go to dummies
Compute average
Reading Installments
Read data and test
Shapes :  (307511, 122) (48744, 121)

(        SK_ID_CURR  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  \
 0           100002                   0            0             0
 1           100003                   0            1             0
 2           100004                   1            0             1
 3           100006                   0            1             0
 4           100007                   0            0             0
 ...            ...                 ...          ...           ...
 307506      456251                   0            0             0
 307507      456252                   0            1             0
 307508      456253                   0            1             0
 307509      456254                   0            1             0
 307510      456255                   0            1             0

         FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT_x  \
 0                     0             0          202500.0      406597.5
 1                     1             0          270000.0     1293502.5
 2                     0             0           67500.0      135000.0
 3                     0             0          135000.0      312682.5
 4                     0             0          121500.0      513000.0
 ...                 ...           ...               ...           ...
 307506                1             0          157500.0      254700.0
 307507                0             0           72000.0      269550.0
 307508                0             0          153000.0      677664.0
 307509                0             0          171000.0      370107.0
 307510                1             0          157500.0      675000.0

         AMT_ANNUITY_x  AMT_GOODS_PRICE_x  ...  cc_bal_cc_bal_status__Refused  \
 0             24700.5           351000.0  ...                            NaN
 1             35698.5          1129500.0  ...                            NaN
 2              6750.0           135000.0  ...                            NaN
 3             29686.5           297000.0  ...                            0.0
 4             21865.5           513000.0  ...                            NaN
 ...               ...                ...  ...                            ...
 307506        27558.0           225000.0  ...                            NaN
 307507        12001.5           225000.0  ...                            NaN
 307508        29979.0           585000.0  ...                            NaN
 307509        20205.0           319500.0  ...                            NaN
 307510        49117.5           675000.0  ...                            NaN

         cc_bal_cc_bal_status__Sent proposal  cc_bal_cc_bal_status__Signed  \
 0                                       NaN                           NaN
 1                                       NaN                           NaN
 2                                       NaN                           NaN
 3                                       0.0                           0.0
 4                                       NaN                           NaN
 ...                                     ...                           ...
 307506                                  NaN                           NaN
 307507                                  NaN                           NaN
 307508                                  NaN                           NaN
 307509                                  NaN                           NaN
 307510                                  NaN                           NaN

         inst_SK_ID_PREV  inst_NUM_INSTALMENT_VERSION  \
 0                  19.0                     1.052632
 1                  25.0                     1.040000
 2                   3.0                     1.333333
 3                  16.0                     1.125000
 4                  66.0                     1.166667
 ...                 ...                          ...
 307506              7.0                     1.142857
 307507              6.0                     1.000000
 307508             14.0                     1.000000
 307509             19.0                     1.000000
 307510             74.0                     1.824324

         inst_NUM_INSTALMENT_NUMBER  inst_DAYS_INSTALMENT  \
 0                        10.000000           -295.000000
 1                         5.080000          -1378.160000
 2                         2.000000           -754.000000
 3                         4.437500           -252.250000
 4                         7.045455          -1028.606061
 ...                            ...                   ...
 307506                    4.000000           -120.000000
 307507                    3.500000          -2391.000000
 307508                    4.785714          -2372.928571
 307509                    5.263158           -142.263158
 307510                    8.851351           -463.945946

         inst_DAYS_ENTRY_PAYMENT  inst_AMT_INSTALMENT  inst_AMT_PAYMENT
 0                   -315.421053         11559.247105      11559.247105
 1                  -1385.320000         64754.586000      64754.586000
 2                   -761.666667          7096.155000       7096.155000
 3                   -271.625000         62947.088438      62947.088438
 4                  -1032.242424         12666.444545      12214.060227
 ...                         ...                  ...               ...
 307506              -156.285714          7492.924286       7492.924286
 307507             -2393.833333         10069.867500      10069.867500
 307508             -2387.428571          4399.707857       4115.915357
 307509              -161.263158         10239.832895      10239.832895
 307510              -472.013514         41464.713649      47646.215878

 [307511 rows x 380 columns],
        SK_ID_CURR  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  \
 0          100001                   0            1             0
 1          100005                   0            0             0
 2          100013                   0            0             1
 3          100028                   0            1             0
 4          100038                   0            0             1
 ...           ...                 ...          ...           ...
 48739      456221                   0            1             0
 48740      456222                   0            1             0
 48741      456223                   0            1             1
 48742      456224                   0            0             0
 48743      456250                   0            1             1

        FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT_x  \
 0                    0             0          135000.0      568800.0
 1                    0             0           99000.0      222768.0
 2                    0             0          202500.0      663264.0
 3                    0             2          315000.0     1575000.0
 4                    1             1          180000.0      625500.0
 ...                ...           ...               ...           ...
 48739                0             0          121500.0      412560.0
 48740                1             2          157500.0      622413.0
 48741                0             1          202500.0      315000.0
 48742                1             0          225000.0      450000.0
 48743                1             0          135000.0      312768.0

        AMT_ANNUITY_x  AMT_GOODS_PRICE_x  ...  cc_bal_cc_bal_status__Refused  \
 0            20560.5           450000.0  ...                            NaN
 1            17370.0           180000.0  ...                            NaN
 2            69777.0           630000.0  ...                            0.0
 3            49018.5          1575000.0  ...                            0.0
 4            32067.0           625500.0  ...                            NaN
 ...              ...                ...  ...                            ...
 48739        17473.5           270000.0  ...                            NaN
 48740        31909.5           495000.0  ...                            NaN
 48741        33205.5           315000.0  ...                            NaN
 48742        25128.0           450000.0  ...                            NaN
 48743        24709.5           270000.0  ...                            0.0

        cc_bal_cc_bal_status__Sent proposal  cc_bal_cc_bal_status__Signed  \
 0                                      NaN                           NaN
 1                                      NaN                           NaN
 2                                      0.0                           0.0
 3                                      0.0                           0.0
 4                                      NaN                           NaN
 ...                                    ...                           ...
 48739                                  NaN                           NaN
 48740                                  NaN                           NaN
 48741                                  NaN                           NaN
 48742                                  NaN                           NaN
 48743                                  0.0                           0.0

        inst_SK_ID_PREV  inst_NUM_INSTALMENT_VERSION  \
 0                  7.0                     1.142857
 1                  9.0                     1.111111
 2                155.0                     0.277419
 3                113.0                     0.460177
 4                 12.0                     1.000000
 ...                ...                          ...
 48739              3.0                     1.333333
 48740             73.0                     1.000000
 48741              8.0                     1.125000
 48742             29.0                     1.000000
 48743             50.0                     0.540000

        inst_NUM_INSTALMENT_NUMBER  inst_DAYS_INSTALMENT  \
 0                        2.714286          -2187.714286
 1                        5.000000           -586.000000
 2                       43.729032          -1352.929032
 3                       30.504425           -855.548673
 4                        6.500000           -622.000000
 ...                           ...                   ...
 48739                    2.000000           -623.000000
 48740                   10.465753           -987.232877
 48741                    3.000000           -554.750000
 48742                    8.448276           -917.724138
 48743                    8.000000           -357.580000

        inst_DAYS_ENTRY_PAYMENT  inst_AMT_INSTALMENT  inst_AMT_PAYMENT
 0                 -2195.000000          5885.132143       5885.132143
 1                  -609.555556          6240.205000       6240.205000
 2                 -1358.109677         10897.898516       9740.235774
 3                  -858.548673          4979.282257       4356.731549
 4                  -634.250000         11100.337500      11100.337500
 ...                        ...                  ...               ...
 48739              -630.333333         91036.455000      91036.455000
 48740              -992.712329          8086.162192       7771.447603
 48741              -586.375000         23158.991250      23158.991250
 48742              -924.965517         17269.234138      17269.234138
 48743              -365.760000         13238.063100      13044.983400

 [48744 rows x 380 columns],
 0         1
 1         0
 2         0
 3         0
 4         0
          ..
 307506    0
 307507    0
 307508    0
 307509    1
 307510    0
 Name: TARGET, Length: 307511, dtype: int64)